/bazel-*
/compile_commands.json
*.swp
.vscode/
*audio_frontend*
*google*
*__pycache__*
venv
gen
.venv*/
*tensorflow/lite/micro/examples/micro_speech/train/dataset
*tensorflow/lite/micro/examples/micro_speech/train/logs
*tensorflow/lite/micro/examples/micro_speech/train/train
*tensorflow/lite/micro/examples/micro_speech/train/models
# Ignore the directory in which `clangd` stores its local index.
/.cache/

# Ignore the `external` symlink added by `bazel-compile-commands-extractor`
/external
